<%- layout("/layouts/biolerplate.ejs")%>

<body class="auth-body">
  <div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="row w-100">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
        <div class="text-center mb-4">
          <h2>Edit Your Profile</h2>
        </div>
        <form action="/users/<%= User._id %>?_method=PUT" method="POST" enctype="multipart/form-data" >
          <div class="mb-3">
            <label for="username" class="form-label text-start w-100">Username</label>
            <input name="username" id="username" type="text" placeholder="<%=User.username%>" class="form-control" required>
            <div class="invalid-feedback">Please Enter Your Name</div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label text-start w-100">Email</label>
            <input name="email" id="email" type="email" placeholder="<%=User.email%>" class="form-control" required>
            <div class="invalid-feedback">Enter Your Email</div>
          </div>
          <div class="mb-3 ">
              <label for="username" class="form-label text-start w-100">Profile Photo</label>
              <input name="image" id="image" type="file" placeholder="Enter  your Photo" class="form-control" required >
             <div class="invalid-feedback">Enter correct image for your Profile Photo</div>
        </div>
          <div class="d-grid">
            <button class="btn btn-primary">Update Profile</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
