<%- layout("/layouts/biolerplate.ejs")%>

<body class="auth-body">
  <div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="row w-100">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
        <div class="text-center mb-4">
          <h2>SignUp Page</h2>
        </div>
        <form method="POST" action="/signup" class="needs-validation" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="username" class="form-label text-start w-100">Username</label>
            <input name="username" id="username" type="text" placeholder="Enter your Name" class="form-control" required>
            <div class="invalid-feedback">Please Enter Your Name</div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label text-start w-100">Email</label>
            <input name="email" id="email" type="email" placeholder="Enter your email" class="form-control" required>
            <div class="invalid-feedback">Enter Your Email</div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label text-start w-100">Password</label>
            <input name="password" id="password" type="password" minlength="8" placeholder="Enter your password" class="form-control" required>
            <div class="invalid-feedback">Password Must Have at least 8 Characters</div>
          </div>
          <div class="mb-3 ">
              <label for="username" class="form-label text-start w-100">Profile Photo</label>
              <input name="image" id="image" type="file" placeholder="Enter  your Photo" class="form-control" required >
             <div class="invalid-feedback">Enter correct image for your Profile Photo</div>
         </div>
          <div class="d-grid">
            <button class="btn btn-primary">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
