
<% layout("/layouts/biolerplate")%>
    <div class="row mb-5">
        <div class="col col-6 offset-2 ">
            <div class="alert alert-danger  mb-5" role="alert">
                <h4><%=message%></h4>
          </div>
        </div>
    </div>